
<html>

<head>

</head>

<style>
h1{
    text-align: center;
}

button{
    border: 1px solid black;
    border-radius: 1px;
    width: 90px;
    height: 35px;
    margin-left: 45%;
    font-weight: bolder;
}
.ndbutton{
    border: 1px solid black;
    border-radius: 1px;
    width: 90px;
    height: 35px;
    margin-left: 2%;
    font-weight: bolder;
    margin-top: 20px;

}
</style>

<body>


    

<h1>Welcome! You have signed up successfully!</h1>


<button>
<a href="/">Back to home page</a>
</button>



<button class="ndbutton">
<a href="/logout">Log out</a>
</button>




</body>


</html>

